.card {
	width: 350px;
	margin: auto;
}

.play-song {
	height: 0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

tbody tr:hover .play-song {
	height: inherit;
	overflow: auto;
}

iframe {
	border-radius: .5rem;
}
