<div class="gallery" [class]="showData ? 'showData': 'hideData'">
	<div class="my-grid my-4">
		<div class="card" *ngFor="let item of items">
			<img
				[src]="item.images | noimage"
				class="card-img-top"
				alt="{{ item.name }}"
			/>
			<div class="card-body">
				<h5 class="card-title">{{ item.name }}</h5>
				<p class="card-text" *ngIf="item.artists">
					{{ item.artists.length === 1 ? 'Artist: ' : 'Artists: ' }}
					<br>
					<span *ngFor="let artist of item.artists" class="badge rounded-pill bg-dark">
					{{ artist.name }}
				</span>
				</p>
			</div>
		</div>
	</div>
</div>

